<div class="card w-1/3 bg-neutral shadow-xl absolute top-1/4 left-1/3">
  <div class="card-body items-center text-center">
    <h1 class="card-title text-2xl mb-10">Zaboravljena lozinka</h1>
    <form class="flex flex-col w-1/2" [formGroup]="resetForm">
      <label disabled class="input input-bordered flex items-center gap-2 mb-7">
        Email
        <input readonly type="text" class="grow" formControlName="username" />
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-7">
        Lozinka
        <input type="password" class="grow" formControlName="password" />
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-7">
        Code
        <input type="text" class="grow" formControlName="code" />
      </label>
    </form>
    <div class="card-actions justify-end mt-10">
      <div class="flex w-full justify-between">
        <button class="btn btn-primary mr-10" (click)="handleLoginClick($event)">Povratak na login</button>
        <button class="btn btn-primary" (click)="handleResetClick($event)">Restartuj lozinku</button>
      </div>
    </div>
  </div>
</div>
