<main class="relative
             pt-10
             px-6
             flex
             flex-col
             flex-1
             items-start
             max-w-full
             pb-16
      "
>
  <div class="relative flex w-full flex-col">
    <div class="flex justify-between">
      <div class="flex gap-10">
        @for (item of [1,2,3,4,5,6]; track item) {
          <span class="text-blue-700">Button {{item}}</span>
        }
      </div>
      <div class="flex gap-10">
        @for (item of [1,2,3,4,5,6]; track item) {
          <span class="text-amber-300">Button {{item}}</span>
        }
      </div>
    </div>

    <div class="grid mt-8 gap-8 grid-cols-3">
      @for (item of [1,2,3,4,5]; track item) {
        <eventer-search-list-item></eventer-search-list-item>
      } @empty {
        <div>
          No content
        </div>
      }
    </div>

  </div>
</main>

