<div class="navbar bg-base-100">
  <div class="navbar-start">
    @if (!isAdmin) {
      <a class="btn btn-ghost text-xl"
         [ngClass]="activeLink === 0 ? 'text-accent' : ''"
         routerLink="/event-category"
      >
        Event Categories
      </a>
      <a class="btn btn-ghost text-xl"
         [ngClass]="activeLink === 1 ? 'text-accent' : ''"
         routerLink="/event"
      >
        Events
      </a>
    } @else {
      <a class="btn btn-ghost text-xl text-accent"
        routerLink="/admin"
      >
        Admins
      </a>
    }
  </div>

  <div class="navbar-center">
    <span class="text-xl italic text-primary">Eventer Admin</span>
  </div>

  <div class="navbar-end">
    <a class="btn btn-ghost text-xl text-warning"
       (click)="handleLogoutClick($event)"
    >
      Logout
    </a>
<!--    <div class="dropdown dropdown-end">-->
<!--      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">-->
<!--        <div class="w-10 rounded-full">-->
<!--          <img alt="Admin profile"-->
<!--               src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>-->
<!--        </div>-->
<!--      </div>-->

<!--      <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box">-->
<!--&lt;!&ndash;        <li><a>Profile</a></li>&ndash;&gt;-->
<!--        <li></li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</div>
