<div class="card w-96 bg-primary shadow-xl">
  <div class="card-body text-base-100">
    <div class="flex gap-3 text-sm">
      @for (category of [1,2,3]; track category) {
        <span>cat {{category}} </span>
      }
    </div>

    <div class="flex justify-between">
      <h1 class="card-title">Shoes!</h1>
      <h2>Location</h2>
    </div>
    <p>If a dog chews shoes whose shoes does he choose?</p>
  </div>
  <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
</div>
