<div class="card w-96 bg-primary shadow-xl">
  <div class="card-body text-base-100">
    <div class="flex gap-3 text-sm">
      @for (category of event.categories; track category.categoryId) {
        <span>{{category.name}} </span>
      }
    </div>

    <div class="flex justify-between">
      <h1 class="card-title">{{event.title}}</h1>
      <h2>{{event.location}}</h2>
    </div>
    <p>{{event.description}}</p>
  </div>
  <figure><img src="{{event.images[0]}}" alt="image" /></figure>
</div>
